body {
    background-color: #0d1117;
    color: white;
    display: block;
    
}

html {
    font-size: 115%;
    font-family: Arial, Helvetica, sans-serif; 
}

header {
    font-size: 5rem;
    display: block;
    text-align: center;
    padding: 4rem;
}

section {
    width: 56%;
    margin: 0 auto; 
    margin-top: 1%;
    border-bottom: 1px solid rgb(4, 0, 255);
    padding: 1%;
    


}

h1, h2 {
    text-align: center;
    color: rgb(255, 255, 255);
}


#xp, #skill {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    
}
#connect_sec {
    text-align: center;
}

form input, textarea,button{
   display: block;
   margin: 0 auto;
   text-align: center;
}

label {
    display: block;
    text-align: center;
}


#message a, #message span, #message button {
    display: inline-block;
    vertical-align: auto;
}

.nav-item{
    display: inline;
    padding: 10px;
    
}
.menu {
    background-color: azure;
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    
}

@media (max-width: 650px){
    html {
        font-size: 100%;
    }
    section {
        width: fit-content;
    }
    header{
        font-size: 2.5rem;
        padding-top: 10rem;
    }
    .nav-item{
        padding: 2px;
    }
    .menu {
        flex-direction: column;
        align-items: center;
    }
 
}